ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgb(15, 15, 22);
}

ul li {
    margin-right: 20px;
}

ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: whitesmoke;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 14px 16px;
    background-color: rgb(15, 15, 22);
}

/* Styling for the right-side name */
.right-items {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

.right-items:hover {
    text-decoration: underline;
}